################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WindPlugin/obj
/WindPlugin/bin/Debug/netstandard2.1
/package/WindPlugin.dll
/package/WindChanger.zip
/package/README.md
